* {
  box-sizing: border-box;
  text-decoration: none;
  list-style:none;
  font-family: 'Noto Sans KR', sans-serif;
  color : #000;
}

h1 {
  font-family: 'Patua One', cursive;
  margin: 20px 0;
}

h2 {
	    float: left;
	    margin: 15px;
}

li::marker {
  color : #ababab;
}

hr {
	border: 0;
	border-top: 3px solid #e1e1e1;
	height: 1px;
	margin-bottom: 0;
	width: 80%;
	float: left;
}


.main {
  /* width: 100%; */
  margin : 10px 40px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.image {
	display : block;
	float: left;
}

img {
	width : 140px;
	height : 130px;
}

.text {
	width : 80%;
	margin-left: 20px;
	float:left;
}

.mvlist {
overflow: hidden;
    position: relative;
    width: 100%;
    /*height: 100%;*/
	padding-left : 40px;
	padding-right : 40px;
	}

.mvlist li {
    position: relative;
    list-style:none; /*도트무늬를 없애줌.*/
    width: 100%;
    height: 140px;
    margin: 25px 10px;
    font-size:13px;
}

.title {
font-size : 14px;
margin-left : 20px;
}